@import url('./styleModalEditarProducto.css');
@import url('./styleModalCliente.css');
@import url('./styleModalVenta.css');

#modal-container {
  position: fixed;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -65%);
  z-index: 1002;
}

/* Botones */
.btnStyleModalGlobal {
  background-color: #334FBA;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  transition: all 0.3s ease;
}

.btnStyleModalGlobal[type="submit"] {
  width: 100%;
  background-color: #334FBA;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btnStyleModalGlobal:hover {
  background-color: #233782;
}

/* Modal */
.modal-header {
  background-color: #334FBA;
  padding: 15px;
}

/* Cabecera de un modal */
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.header-title h2 {
  margin: 0;
  font-size: 1.2rem;
}

.header-title .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header-title .close-btn:hover {
  opacity: 0.8;
}

/* Pestañas de la cabecera */
.header-tabs {
  grid-row: 2;
  padding-block: 15px 10px;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.lblStyleGlobalModal {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.selectStyleGlobalModal,
.inptStyleGlobalModal,
.textAreaStyleGlobalModal {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.inptStyleGlobalModal,
.selectStyleGlobalModal {
  height: 40px;
}

.textAreaStyleGlobalModal {
  resize: none;
  min-height: 80px;
}

.edit-btn {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  color: #007bff;
  opacity: 0.8;
}

.totalStyleGlobalModal {
  background-color: lightgray;
  padding: 5px;
  text-align: center;
  align-content: center;
  color: black;
  border-radius: 15px;
  height: 50px;
}