/* Sección Proforma Check */
#realizarVenta {
    width: 100%;
    height: 100%;
}

#tituloRV {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 60%;
    margin-left: 10px;
}

#tituloRV h2 {
    font-weight: bold;
    font-size: 25px;
    margin-block: 15px;
}

#contenedorProformaCheck {
    display: flex;
    flex-direction: row;
    margin-block: 15px;
}

#contenedorProformaCheck label {
    font-size: 19px;
}

#proformaCheck[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: darkblue;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#proformaCheck[type="checkbox"]:hover {
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#formDesarrollo {
    display: grid;
}

/* Sección Cabecera Datos */
#headerForm {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    height: 200px;
}

#formOpciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#BuscadorCliente {
    grid-column: span 2;
}

#FechaEmi,
#FechaVenci {
    grid-column: span 1;
}

#Comprobante {
    grid-column: span 2;
}

#SerieFact {
    grid-column: span 1;
}

#TipoOpe {
    grid-column: span 1;
}

.entrada {
    height: 50px;
    margin-top: 15px;
    position: relative;
}

.importante input,
.importante select {
    height: 45px;
    width: 90%;
    font-size: 16px;
    margin-left: 10px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.importante input:hover,
.importante select:hover {
    border: 1px solid darkblue;
}

#tipoComprobante,
#tipoOperacion {
    background-color: lightgray;
}

#tipoComprobante:hover,
#tipoOperacion:hover {
    border: none;
}

.entrada label {
    position: absolute;
    bottom: -8px;
    left: 15px;
    font-size: 12px;
    color: #333;
    background-color: transparent;
    padding: 0 5px;
    z-index: 0;
}

/* Sección Cabecera Botones */
.extras {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-inline-start: 10px;
    margin-top: 15px;
}

.extras button {
    padding: 8px;
    width: 165px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/* Sección Cuerpo del Form */
#bodyForm {
    background-color: lightgray;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    height: 300px;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Sección footer del Form */
#footerForm {
    display: block;
    border: none;
    height: 150px;
}

#BuscadorProducto {
    padding-top: 15px;
    padding-inline: 10px;
}

#buscarProducto {
    width: 100%;
    height: 45px;
    text-indent: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#buscarProducto:hover {
    border: 1px solid black;
}

#totalContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

#contenedorTotal {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    gap: 60%;
    width: 540px;
    height: 55px;
    background-color: lightgray;
    text-indent: 10px;
}

#contenedorTotal span {
    font-size: 30px;
    font-weight: bolder;
}

#botonesEnviar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 7%;
}

#botonesEnviar button {
    height: 100%;
    width: 250px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

/* Bloque que aparecera mostrando datos de total de factura */
#informacionComprobante {
    position: absolute;
    transform: translate(55%, -101.5%);
    width: 15%;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: white;
    z-index: 1000;
    padding: 20px;
}

#informacionComprobante li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 5px;
}

.oneSpan {
    font-weight: bold;
    flex: 1;
}

.twoSpan {
    flex-shrink: 0;
    margin-left: 20px;
}

/* Buscador de Clientes */
.contenedorLista {
    position: absolute;
    background-color: white;
    z-index: 100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(3%, 0.5%);
    width: 89%;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.contenedorLista li {
    padding-block: 18px;
    text-indent: 6px;
    height: 100%;
}

.contenedorLista li:nth-child(1) {
    gap: 25%;
}

/* Caja contenedora de la lista por Default */
.default {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid #333;
    text-align: center;
}

.default span {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    color: rgba(60, 60, 60, 1);
}

#registrarCliente {
    width: 140px;
    height: 100%;
    border-color: rgba(94, 94, 239, 0.2);
    color: rgb(94, 94, 239);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#registrarCliente:hover {
    border-color: rgba(94, 94, 239, 1);
    background-color: rgba(0, 0, 255, 0.2);
}

/* Lista de clientes resultados de la busqueda */
.cliente {
    display: grid;
    grid-template-columns: 25% 75%;
    text-align: center;
    font-size: 14.5px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: gray;
    font-weight: bold;
    transition: all 0.1s ease;
}

.cliente:hover {
    background-color: rgba(205, 209, 228, 1);
    color: black;
}

#tipoRazNom {
    padding-inline: 5px;
}

/* Buscador de Productos */
.productoLista {
    position: absolute;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 73.8%;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(-105%);
}

.defaultListaProducto {
    width: 100%;
    height: 40px;
    align-content: center;
    text-indent: 10px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-columns: 80% 20%;
    height: 50px;
    padding: 10px;
    transition: all 0.2s ease;
}

.productos:hover {
    background-color: rgba(205, 209, 228, 1);
}

.productos button {
    width: 120px;
    height: 30px;
    border-color: rgba(94, 94, 239, 0.2);
    color: rgb(94, 94, 239);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.productos button:hover {
    border-color: rgba(94, 94, 239, 1);
    background-color: rgba(0, 0, 255, 0.2);
}

/* Contenedor principal del producto */
.productoBody {
    display: grid;
    grid-template-columns: 85% 15%;
    max-width: 1115px;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    margin-bottom: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    align-items: center;
}

/* Modificar contenedor de la información del producto */
#contenedorInfoProducto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Alinear el contenido de la infoProducto en dos líneas */
.infoProducto {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

/* Ajustar la posición del botón de eliminar */
#deleteProduct {
    display: flex;
    justify-content: flex-end;
}

#increaseDecreaseProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

#increaseDecreaseProduct button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#increaseDecreaseProduct button:hover {
    background-color: #f0f0f0;
}

#increaseDecreaseProduct input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
}

/* Botón de eliminar producto */
#deleteProduct button {
    border-radius: 7px;
    border: 1px solid gray;
    width: 100px;
    height: 30px;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
}

#deleteProduct button:hover {
    background-color: lightgray;
    border: 1px solid gray;
}

/* Inputs Escondidos */
.inputHidden {
    position: absolute;
    transform: translate(-95%, -5%);
    height: 30px;
    width: 180px;
    border-radius: 10px;
    text-indent: 5px;
    border: 2px solid darkblue;
    font-size: 15px;
    z-index: 100;
}