/* Imports Generales */
@import url('./ReajustadorDeMargenes.css');
@import url('./ClasesGenerales.css');
@import url('./OverflowEstilos.css');
@import url('./MediaQueries.css');

/* Importa modales */
@import url('./MensajesInteractivos.css');
@import url('./Modales.css');

/* Colores de Letras Puros */
@import url('./Colores.css');

/* Imports Paginas */
@import url('./styleRealizarVenta.css');
@import url('./styleVentasRealizadas.css');
@import url('./styleClienteProveedor.css');
@import url('./proforma.css');

body {
    background-color: #D3D3D3;
    overflow: hidden;
}

/* Contenedor Pagina Entera */
.background {
    display: flex;
    flex-direction: row;
}

/* Sidebar */
#DatosUsuario {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #002A5E;
    width: 25%;
    height: 100vh;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

/* Sección Logo Empresa y dropdown opciones Usuario */
.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#logoWolf {
    margin-top: 15px;
    margin-left: 20px;
}

#logoWolf img {
    width: 100%;
    max-width: 180px;
    height: auto;
}

#dropdownOpciones {
    margin-top: 20px;
}

#dropdownIcon {
    width: 25px;
    height: auto;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#dropdownOpciones img:hover {
    background: #004487;
}

#dropdownOpciones ul {
    position: absolute;
    background: #DFE9F5;
    transform: translateY(-15%);
    border: 1px solid #DFE9F5;
    border-radius: 5px;
    width: 290px;
    height: auto;
    font-size: 14px;
    padding-block: 8px;
    z-index: 1000;
}

/* Datos del usuario dentro del dropdown */
#usuarioDatos {
    display: flex;
}

#avatarUsuario img {
    width: 60px;
    height: auto;
    margin-left: 10px;
    border-radius: 50%;
}

#avatarUsuario {
    display: flex;
    width: auto;
    justify-content: center;
}

#datosUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
}

/* Estilos para la lista de usuario */
#listaUsuario {
    height: 70px;
    text-indent: 10px;
    padding-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#listaUsuario:hover {
    background-color: #66b3ff;
    color: #002A5E;
}

.ListaSinCambios {
    display: flex;
    font-weight: bolder;
    margin-block: 1px;
    height: 30px;
    text-indent: 10px;
    align-items: center;
}

.lista {
    display: flex;
    width: 100%;
    height: 30px;
    text-indent: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lista:hover {
    background-color: lightblue;
}

/* Estilos Avatar */
#usuarioAvatar {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    padding-block: 15px;
}

#usuarioAvatar img {
    border: 3px solid #C0C5CE;
    border-radius: 50%;
    height: auto;
}

/* Sección Empresa y Sucursal */
#empresa,
#sucursal {
    width: 95%;
    background-color: #004487;
    border-radius: 12px;
    margin: 10px auto;
}

#empresa label,
#sucursal label {
    font-weight: bold;
    color: #DFE9F5;
}

#datosEmpresa,
#datosSucursal {
    background-color: transparent;
    color: #ffffff;
    font-weight: bolder;
    height: 35px;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

/* Sección Inputs Empresa Información */
.empresa {
    padding-block: 10px;
    text-indent: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Sección Botones */
.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.boton img {
    margin: 0 auto;
    filter: brightness(400%);
    transition: transform 0.3s ease;
}

.boton:hover img {
    transform: scale(1.1);
}

.boton span {
    margin-top: 10px;
    color: white;
    text-align: center;
}

/* Sección contenido Principal */
#mainContent {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Pagina Default */
#billAppDevelopment {
    border: 2px solid black;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px;
    text-align: justify;
}