#modalDos {
  width: 800px;
  min-height: 400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  max-height: 90vh;
  box-sizing: border-box;
}