@import url('./ReajustadorDeMargenes.css');
@import url('./ClasesGenerales.css');

body {
    background-image: url('/Imagenes/LogoYFondo/LC_Frente.webp');
    background-size: cover;
    background-position-y: -100px;
    background-position-x: -500px;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Sección de Fondo y Logo */
#opacidadAzul {
    background-color: rgba(0, 0, 128, 0.9);
    height: 100%;
}

/* Sección de Registro */
#cajaderegistro {
    position: absolute;
    right: 0;
    display: flex;
    width: 520px;
    height: 100vh;
    clip-path: ellipse(100% 160% at right center);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 1);
}

#cajaderegistro h1 {
    color: #000080;
    margin-bottom: 30px;
}

#cajaMensaje {
    position: absolute;
    left: 0;
    display: flex;
    width: 280px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 12% 10%;
}

#comentario {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 3.5px solid black;
    border-radius: 10px;
    max-width: 300px;
    text-align: justify;
}

#comentario::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 20px; 
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
    border-bottom: 0;
}

#comentario p {
    cursor: default;
}

#logoEquipo {
    border-radius: 60%;
    width: 50px;
    height: auto;
}

#logoIjb {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-right: 80px;
}

#logoIjb span {
    color: white;
    font-weight: bolder;
}

#formRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

input {
    text-indent: 10px;
}

input:focus {
    border-bottom: 2px solid black;
    outline: none;
}

input::placeholder {
    color: darkgray;
}

.insertartexto2 {
    height: 50px;
    width: 350px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    font-size: 15px;
}

#inputApe {
    width: 350px;
}

#apellidoPaterno,
#apellidoMaterno {
    width: 48.7%;
}

#checkbox {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-bottom: 20px;
    gap: 5px;
}

#cajitacheck {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#cajitacheck::after {
    border: solid darkgray;
    border-width: 0 10px 10px 0;
}

span {
    margin-left: 13px;
    width: 100%;
    font-size: 12.7px;
    text-align: justify;
    cursor: default;
}

.azulita {
    color: #000080;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.azulita:hover {
    color: #1e0bd0;
}

.botondecreado {
    width: 350px;
    height: 40px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: white;
    background-color: #000080;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.botondecreado:hover {
    background-color: #1e0bd0;
}

#cajaderegistro a {
    color: #000080;
    transition: all 0.2s ease-in;
}

#cajaderegistro a:hover {
    color: #1e0bd0;
}

/* Boton Ojo Contraseña */
#entradaContra {
    display: flex;
    align-items: center;
    position: relative;
}

#btnMostrarContra {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-90%);
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

#btnMostrarContra svg {
    transition: all 0.2s ease-in;
}

#btnMostrarContra svg:hover {
    stroke: #1e0bd0;
}